<ion-view title="Hearing" id="page7" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <h2 id="hearing3-heading4" style="color:#41EAD4;font-weight:400;text-align:center;">Adrian Volcinschi</h2>
    <div class="spacer" style="height: 40px;"></div>
    <ion-list id="hearing3-list13">
      <ion-item class="item-icon-right" id="hearing3-list-item31">I have a question
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item id="hearing3-list-item32">How did we calculate the p-value?</ion-item>
      <ion-item id="hearing3-list-item33">What do I do if I finished the ANOVA?</ion-item>
    </ion-list>
    <div class="spacer" style="height: 40px;"></div>
    <a ui-sref="tabsController.speaking()" id="hearing3-button6" class="button button-calm button-block icon ion-speakerphone"></a>
    <a ui-sref="tabsController.hearing()" id="hearing3-button8" class="button button-assertive button-block icon ion-arrow-return-left"></a>
  </ion-content>
</ion-view>