<ion-view title="Hearing " id="page2" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="hearing-card21"></div>
    <h2 id="hearing-heading5" style="color:#41EAD4;">Record</h2>
    <ion-list id="hearing-list8">
      <ion-item class="item-avatar item-icon-right positive" id="hearing-list-item19" ui-sref="tabsController.hearing2()">
        <h2positive>Wife
          <p>12:28</p>
          <i class="icon ion-heart"></i>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="hearing-list-item21" ui-sref="tabsController.hearing3()">
        <h2positive>Adrian Volcinschi
          <p>9:08</p>
          <i class="icon ion-alert"></i>
        </h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 40px;"></div>
    <form id="hearing-form12" class="list">
      <ion-toggle toggle-class="toggle-positive" id="hearing-toggle3">Hearing</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="hearing-toggle4">Office mode</ion-toggle>
    </form>
  </ion-content>
</ion-view>