<ion-view title="Pairing" id="page8" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <form id="pairing-form15" class="list">
      <label class="item item-select" id="pairing-select1">
        <span class="input-label">Devices</span>
        <select>
          <option>Headset MSI 2383-k</option>
          <option>Samsung wearband 3</option>
        </select>
      </label>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.hearing_tab1()" id="pairing-button9" class="button button-positive button-block icon-right ion-bluetooth">Pair</a>
    </form>
  </ion-content>
</ion-view>