<ion-view title="Settings" id="page10" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 54px;"></div>
    <ion-list id="settings-list9">
      <ion-item class="item-icon-left" id="settings-list-item16">
        <i class="icon ion-android-favorite"></i>Favorites</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item11">
        <i class="icon ion-connection-bars"></i>Connection</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item12">
        <i class="icon ion-flash"></i>Battery Consumption</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item13">
        <i class="icon ion-android-microphone"></i>Microphone</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item15">
        <i class="icon ion-android-cloud"></i>Cloud</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item14">
        <i class="icon ion-information-circled"></i>About</ion-item>
    </ion-list>
  </ion-content>
</ion-view>