<ion-view title="Signup" id="page5" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <form id="signup-form11" class="list">
      <div class="spacer" style="height: 80px;"></div>
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.hearing_tab1()" id="signup-button4" class="button button-royal button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>