<ion-view title="Speaking" id="page3" style="background-color:#0D1317;">
  <ion-content padding="true" class="has-header">
    <form id="speaking-form9" class="list">
      <div class="spacer" style="height: 60px;"></div>
      <label class="item item-input" id="speaking-textarea2">
        <span class="input-label"></span><textarea placeholder="Type Your Answer Here"></textarea></label>
      <ion id="speaking-container1" class="creator-container"></ion>
    </form>
    <div class="spacer" style="height: 40px;"></div>
    <a ui-sref="tabsController.hearing()" id="speaking-button1" style="border-radius:1px 1px 1px 1px;" class="button button-calm button-large button-block button-outline icon-right ion-android-send">Send</a>
    <ion-app>
      <ion-icon name="add">
      </ion-icon>
    </ion-app>
  </ion-content>
</ion-view>